$blue: blue;
$white: #fff;
$grayish: #3334;
$size: 1vh;

@mixin falling($duration:10s){

    .flake{
        height: $size;
        width: $size;
        border-radius: 100%;
        position: absolute;
        animation-name: fall;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: $duration;
        text-align: center;
        top: -$size;
        @for $n from 1 through 100{
            &:nth-child(#{$n}){
                left: 1% * random(100); 
                animation-delay: 0.5s * random(80); 
            }
        }
    }
}

body{
    background-image: url('background.jpg');
}

.snow-container-1{
    position: fixed;
   // background-color: #fff3;
    height: 80vh;
    width: 75vw;
    top: 0;
    left: 0;
    @include falling
}

.snow-container-2{
    position: fixed;
  //  background-color: #fff3;
    height: 80vh;
    width: 24vw;
    top: 0;
    right: 0;
    @include falling
}

.snow-container-3{
    position: fixed;
   // background-color: #f0f3;
    height: 80vh;
    width: 60vw;
    top: 0;
    left: 0;
    @include falling(15s)
}

.snow-container-4{
    position: fixed;
    //background-color: #f0f3;
    height: 25vh;
    width: 60vw;
    top: 0;
    right: 0;
    @include falling( 7s)
}

.snow-container-5{
    position: fixed;
  //  background-color: #f0f3;
    height: 80vh;
    width: 40vw;
    top: 0;
    left: 0;
    @include falling( 30s);
}

.distance- {
    &sm{
        .flake{
            height: $size;
            width: $size;
     //       animation-duration: 20s;
            background-image: radial-gradient($white 40%, transparent);
        }
    }

    &md{
        .flake{
            height: $size * 0.7;
            width: $size * 0.7;
      //      animation-duration: 20s * 2;
            background-image: radial-gradient(darken($white,20%) 40%, transparent);
        }
    }

    &lg{
        .flake{
            height: $size * 0.5;
            width: $size * 0.5;
      //      animation-duration: 20s * 2;
            background-image: radial-gradient(darken($white,30%) 40%, transparent);
            opacity: 0.5;
        }
    }
}

@keyframes fall{
    from{ top: -$size;}
    to{ top: 100%;}
}